<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="footer.css">
  </head>
  <body>
 
<script src="https://kit.fontawesome.com/07af7e6881.js" crossorigin="anonymous"></script>
  </body>
  
   <footer>
       <section class="footer_container">
         
          <div class="navigation_and_connect_us_main_container">
           
       <div class="about_us_main_container">
           <h1>ABOUT US</h1>
           
           <p>MSD7 - A Boutique Stay, is nestled amongst the ever so alluring apple orchids of Burua, the calm bit of Chennai. Located at a height of 2200m MSD7 sets perfectly located at the center of beautiful views of the Solang Valley, Icy initials of Hanuman Tibba, and the Friendship Peak amongst other fabulous panorama and a constant gush of the Beas river which is always audible.</p>        
       </div>
       
           
       <div class="navigation_main_container">
           <h1>NAVIGATION</h1>
           
           <div class="Navigation_container">
           <ul class="navigation_list_container">
              <li class="navigation_item_container"><a href="/home">Home</a></li>
              <li class="navigation_item_container"><a href="/about">About</a></li>
              </ul>
              
              <ul class="navigation_list_container">
              <li class="navigation_item_container"><a href="/facilities">Facilities</a></li>
              <li class="navigation_item_container"><a href="/contact">Contact</a></li>              
           </ul>
           
           <ul class="navigation_list_container">
              <li class="navigation_item_container"><a href="/gallery">Gallery</a></li>
               
           </ul>
           </div>
           
       </div>
       
        <div class="connect_with_us_main_container">
           <h1>CONNECT WITH US</h1>
           
           <div class="connect_with_us_item_container">
           <span> <i class="fa-solid fa-location-dot"></i> MSD7, Near Adarsh Sen.Sec.School, Chennai, Tamilnadu, 323301</span>
           <span> <i class="fa-solid fa-envelope"></i> msdresort7@gmail.com</span>
           
           <span> <i class="fa-solid fa-mobile-screen-button"></i> +91 7667766767</span>
           
           <span> <i class="fa-solid fa-mobile-screen-button"></i> +91 9889988998</span>
              
            </div>
           </div>
           
       </div>
       
       
       <hr>
       
        <div class="copyright_container"> 
           <p>Copyright &copy; 2022 MSD7 Resort | all rights reserved |
           </p>
        </div>
        
        </section>
    </footer>
</html>
