<%-include('./partials/header.ejs',{loggedin:loggedin}) %>

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <title>Facilities</title>
    
    <link rel="stylesheet" href="facilities.css">
        
 
  </head>
  <body>
      
      <div class="facilities_main_slide_container">
         <h1 class="text-center my-2">AMENITIES</h1>
      </div>
    
    <div class="facilities_provide_container">
        <h1>FACILITIES WE PROVIDES</h1>
    </div>
    
    
    <div class="facilities_icon_main_container">
        <% icons.forEach((e)=>{%>
            
           <div class="facilities_icon_container">
            <img src="<%=e.icon_src%>" alt="icon">
            <h1><%=e.icon_title%></h1>
        </div> 
            
        <%})%>
        
        
    </div>
    
    
    
    
    

   <!-- fontawsome cdn -->
<script src="https://kit.fontawesome.com/07af7e6881.js" crossorigin="anonymous"></script>

    <!--Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>

<%-include('./partials/footer.ejs') %>
